<div class="container mb-2">  
  <div class="d-flex flex-wrap align-items-center py-2 border-bottom">
    <div class="navbar navbar-expand-md navbar-light me-auto">
      <a class="navbar-brand me-md-4" href="/">Доска объявлений</a>
    </div>
    <ul class="nav nav-pills">

        <li class="nav-item me-2">
          <%= link_to 'Главная', '/', class:"nav-link link-dark" %>
        </li>
    </ul>
  </div>
</div>

