<div class="container mb-2">  
  <div class="d-flex flex-wrap align-items-center py-2 border-bottom">
    <div class="navbar navbar-expand-md navbar-light me-auto">
      <a class="navbar-brand me-md-4" href="/"><p><%= t('header.title') %></p>
</a>
    </div>
    <ul class="nav nav-pills">
      <% if session[:user_id] %>
        <div class="nav-item me-2 d-flex">
          <%= link_to t('header.add'), new_bulletin_path, class:"nav-link link-dark" %>
        </div>
      <% else %>
        <%= link_to t('header.login'), auth_request_path('github'), method: :post, class:"nav-link link-dark" %>
      <% end %>
    </ul>
  </div>
</div>

